<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Codilar\HelloWorld\Api\PostRepositoryInterface"
                type="Codilar\HelloWorld\Model\PostRepository" />
    <preference for="Codilar\HelloWorld\Api\Data\PostSearchResultsInterface"
                type="Codilar\HelloWorld\Model\PostSearchResults" />
    <preference for="Codilar\HelloWorld\Api\Data\PostInterface"
                type="Codilar\HelloWorld\Model\Post" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="codilar_helloworld_post_listing_data_source" xsi:type="string">Codilar\HelloWorld\Model\ResourceModel\Post\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Codilar\HelloWorld\Model\ResourceModel\Post\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">helloworld_post</argument>
            <argument name="resourceModel" xsi:type="string">Codilar\HelloWorld\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Cms\Model\Api\SearchCriteria\PostCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Cms\Model\Api\SearchCriteria\CollectionProcessor\BlockFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cms\Model\PostRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Cms\Model\Api\SearchCriteria\PostCollectionProcessor</argument>
        </arguments>
    </type>
</config>
