<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="Codilar_Events_display_text">
        <observer name="mp_display_text" instance="Codilar\Events\Observer\ChangeDisplayText" />
    </event>
</config>
